<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="static/css/home.css" />
        <title>Welcome | Kyle Button - Portfolio</title>
    </head>
    
    <!---->
        <header>
            <div class="header" id='myHeader'>
             <a href="index.html">Home</a>
             <a href="completePorfolio">Complete Portfolio</a>
             <a href="about-Me">About Me</a>
            </div>
        </header>

        <div class="section1">
            <h1>Kyle Button</h1>
            <p1>Currently Joining Military</p1> <br>
            <p2>Stittsville, ON</p2> <br>
            <a href="https://github.com/TakoSalads">Github Profile</a> <br>
        </div>



</html>
