.container h1{
font-size: 48px;
font-family: Helvetica;
text-align: left;
padding: 20px 0;
margin-left: 7.5%;
margin-right: 1.5%;
}

.container h2{
font-size: 28px;
font-family: Arial;
text-align: left;
padding-left: 18px;
padding-right: 8px;
margin-left: 7.5%;
margin-right: 1.5%;
}

.container p{
text-align: left;
padding-right: 5%;
margin-left: 7.5%;
margin-right: 35%;
}


*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.container img{
max-width: 38%;
max-height: 12%;
float: right;


}

.container h3{
text-align: center;
font-size: 24px;
margin-left: 7.5%;
margin-right: 1.5%;
}