/* Header CSS */

.header {
  overflow: hidden;
  background-color: #0b1622;
  padding: 10px 10px;
  
}

.header img {
  width: 120px;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  padding: 0 !important;
}


.header-right {
  float: right;
  display: flex;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.header
{
    /* ... */
    z-index: 99;
}


/* Body CSS */


body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  padding: 20px;
}
